#landing-page {
  background-image: url(../images/backgrounds/h_img.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: white;
  font-family: 'Solway', serif;
  font-size: x-large;
}

.about_us p {
  font-family: 'Montserrat', sans-serif;
}

#designP {
  display: none;
  text-align: center;
}

#devP {
  display: none;
  text-align: center;
}

#prodP {
  display: none;
  text-align: center;
}
.services {
  text-align: center;
  background-image: url(../images/backgrounds/s_image.jpg);
  color: white;
  height: 50vh;
  padding-top: 3em;

}

.services p{
  font-family: 'Sulphur Point', sans-serif;
  font-size: x-large;
}

/* 
.what_we_do {
  margin-top: 30px;
  align-content: center;
  text-align: center;
} */

.click, .click1, .click2{
  display: none;
  margin: 20px;
}

.project{
  background-color: white;
  opacity: 0.8;
  
}

.project p{
  padding-bottom: 50px;
  text-align: center;
}

.img-4{
  background-image: url('../images/portfolio/work4.jpg');
  background-size: cover;
  max-width: 240px;
  height: 230px;
  margin: 15px;
}

.img-3{
  background-image: url('../images/portfolio/work3.jpg');
  background-size: cover;
  max-width: 240px;
  height: 230px;
  margin: 15px;
}

.img-2{
  background-image: url('../images/portfolio/work2.jpg');
  background-size: cover;
  max-width: 240px;
  height: 230px;
  margin: 15px;
}

.img-1{
  background-image: url('../images/portfolio/work1.jpg');
  background-size: cover;
  max-width: 240px;
  height: 230px;
  margin: 15px;
}

.img-5{
  background-image: url('../images/portfolio/work5.jpg');
  background-size: cover;
  max-width: 240px;
  height: 230px;
  margin: 15px;
}

.img-6{
  background-image: url('../images/portfolio/work6.jpg');
  background-size: cover;
  max-width: 240px;
  height: 230px;
  margin: 15px;
}

.img-7{
  background-image: url('../images/portfolio/work7.jpg');
  background-size: cover;
  max-width: 240px;
  height: 230px;
  margin: 15px;
}

.img-8{
  background-image: url('../images/portfolio/work8.jpg');
  background-size: cover;
  max-width: 240px;
  height: 230px;
  margin: 15px;
}
.top-buffer{
  margin-top: 20px;
}

.contact_us {
  background-image: url(../images/backgrounds/c_image.jpg);
  color: white;
  height: 500px;
  width: 100%;
  margin-top: 40px;

}

#NAME {
  background: transparent;
  width: 70px;
  border: 1px solid;
}

#EMAIL {
  background: transparent;
  width: 40%;
}

#MESSAGE {
  background: transparent;
  width: 50%;
  
}

footer {
  text-align: center;
  padding-top: 50px;
  align-content: center;
}
